{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": 0,
    "no-unused-vars": 0,
    "lines-between-class-members": 0,
    "no-useless-escape": 0,
    "class-methods-use-this": 0
  }
}